WEB_FIREBASE_KEY=replace_with_web_firebase_api_key
ANDROID_FIREBASE_KEY=replace_with_android_firebase_api_key
IOS_FIREBASE_KEY=replace_with_ios_firebase_api_key
MACOS_FIREBASE_KEY=replace_with_macos_firebase_api_key
WINDOWS_FIREBASE_KEY=replace_with_windows_firebase_api_key
